<!DOCTYPE html>
<html lang="zh-CN">
<head>
<base href="/JeeAdmin/" />
<link type="image/x-icon" rel="shortcut icon" href="resources/images/favicons/favicon.ico" />
<link type="image/x-icon" rel="icon" href="resources/images/favicons/favicon.ico" />
<link type="image/x-icon" rel="bookmark" href="resources/images/favicons/favicon.ico" />
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>JeeAdmin Login</title>
<link type="text/css" rel="stylesheet" href="resources/plugins/bootstrap/3.3.4/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="resources/plugins/bootstrap/3.3.4/css/bootstrap-theme.min.css" />
<link type="text/css" rel="stylesheet" href="resources/styles/default/main.css" />
</head>
<body>

<script type="text/javascript" src="resources/plugins/require/2.1.17/require.min.js" data-main="resources/scripts/main-Option"></script>
</body>
</html>