<!DOCTYPE html>
<html lang="zh-CN">
<head>
<base href="/JeeAdmin/" />
<link type="image/x-icon" rel="shortcut icon" href="resources/images/favicons/favicon.ico" />
<link type="image/x-icon" rel="icon" href="resources/images/favicons/favicon.ico" />
<link type="image/x-icon" rel="bookmark" href="resources/images/favicons/favicon.ico" />
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>JeeAdmin Login</title>
<link type="text/css" rel="stylesheet" href="resources/plugins/bootstrap/3.3.4/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="resources/plugins/bootstrap/3.3.4/css/bootstrap-theme.min.css" />
<link type="text/css" rel="stylesheet" href="resources/styles/default/login/singin.css" />
</head>
<body>
	<div class="container" ng-controller="loginCtrl" >
		<form class="form-signin">
			<h2 class="form-signin-heading">JeeAdmin sign in</h2>
			<input type="text" id="username" name="username" ng-model="loginData.account.username" class="form-control" placeholder="plase input user name" required="" autofocus="" />
			<input type="password" id="password" name="password" ng-model="loginData.account.password" class="form-control" placeholder="plase input password" required="">
			<input type="text" id="captcha" name="captcha" ng-model="loginData.captcha" class="form-control" placeholder="plase input captcha" required="">
			<img alt="" src="system/captcha" onclick="javascript:this.src='system/captcha?' + getDate();">
			<div class="checkbox">
				<label> <input ng-model="loginData.rememberMe" type="checkbox" value="remember-me">
					Remember me
				</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" ng-click="doLogin();" >Sign in</button>
		</form>
	</div>
<script type="text/javascript" src="resources/plugins/require/2.1.17/require.min.js" data-main="resources/scripts/login/login-Option"></script>
</body>
</html>